.store-card {
  box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;
  cursor: pointer;
  background-size: 100% 50%;
  background-repeat: no-repeat;
  padding: 1.2rem;

  .servings {
    p {
      font-size: 1rem;
    }
  }

  .content-container {
    align-items: baseline;
  }
  .image-container {
    width: 100px;
    margin: 1.2rem;
    background-color: white;
    border-radius: 1.2rem;
  }
}
