<div class="store-card" (click)="openStorePage()" [style]="{'background-image': 'url('+store.cover+')'}">
  <div class="image-container">
    <img src="{{store.image}}" alt="" width="100%">
  </div>
  <div class="d-flex justify-content-between content-container">
    <div class="title-container">
      <h1 class="title">{{store.name}}</h1>
      <div class="servings">
        <p>{{getServings()}}</p>
      </div>
    </div>
    <div class="rating">
      <h3>{{store.rating}}</h3>
    </div>
  </div>
</div>
