<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
            #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="save()">save</button>

<hr>



<!-- <div #modalElement class="general-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
  aria-hidden="true" data-toggle="modal">
  <div class="modal-dialog" role="document" [ngClass]="">
    <div class="modal-content">
      <div class="modal-header d-flex-col d-aic">
        <div class="d-jcb d-aic multi__header-text">
          <div></div>
          <h1 class="modal-title" id="exampleModalLabel">Add Store</h1>
          <button type="button" class="btn" style="margin: 0rem" data-bs-dismiss="modal" aria-label="Close">
            <img src="/assets/img-front/close-modal.svg" alt="" />
          </button>
        </div>
      </div>
      <div>
        <form>
          <label for="name">Name</label>
          <input type="text" name="name" [(ngModel)]="store.name">

          <label for="lat">lat</label>
          <input type="text" name="lat" [(ngModel)]="store.lat">

          <label for="lng">lng</label>
          <input type="text" name="lng" [(ngModel)]="store.lng">

          <label for="rating">rating</label>
          <input type="text" name="rating" [(ngModel)]="store.rating">

          <label for="image">image</label>
          <input type="file" name="image" [(ngModel)]="store.image">

        </form>
        <div class="modal__footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            {{ 'VIEWS.WIDGETS.GENERAL_FORM.CANCEL' }}
          </button>
          <button type="button" class="btn btn-primary" (click)="save()">
            {{ 'VIEWS.WIDGETS.GENERAL_FORM.CANCEL' }}
          </button>

        </div>
      </div>
    </div>
  </div>
</div> -->
