<div class="item-container">
  <div class="d-flex">
    <div class="image">
      <img src="{{item.image}}" alt="" width="100%">
    </div>
    <div class="info">
      <h1 class="title">{{item.title}}</h1>
      <div class="d-flex">
        <h3 style="margin-right: 0.5rem; color: green;">${{item.price}}</h3>

        <h3 style="color: brown;">{{item.calories}} calories</h3>
      </div>
    </div>
  </div>

</div>
