.item-container {
  border: 1px solid lightgray;
  border-radius: 1rem;
  padding: 1.4rem;
  margin: 1rem;
  .info {
    .title {
      margin-bottom: 2rem;
    }
  }
  .image {
    width: 150px;
    margin-right: 1.5rem;
  }
}
