<div class="container">
  <div class="d-flex justify-content-between header">
    <h1>Stores</h1>
    <button class="btn btn-primary" (click)="addStore(content)">Add store</button>
  </div>
  <div class="container">
    <div class="row">
      <ng-container *ngFor="let store of stores">
        <div class="col-md-4" style="padding: 1rem 1rem;">
          <app-store [store]="store"></app-store>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Store</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" name="name" [(ngModel)]="store.name">
      </div>

      <div class="form-group">
        <label for="lat">lat</label>
        <input class="form-control" type="text" name="lat" [(ngModel)]="store.lat">
      </div>

      <div class="form-group">
        <label for="lng">lng</label>
        <input class="form-control" type="text" name="lng" [(ngModel)]="store.lng">
      </div>

      <div class="form-group">
        <label for="rating">rating</label>
        <input class="form-control" type="text" name="rating" [(ngModel)]="store.rating">
      </div>

      <div class="form-group">
        <label for="image">image</label>
        <input class="form-control" type="file" name="image">
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveStore()">Save</button>
  </div>
</ng-template>
