.store-header {
  width: 80%;
  margin-top: 10rem;
  border-radius: 1.5rem;
  padding: 1rem;
  box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.2);

  .store-info {
    .image {
      border-right: 1px solid grey;
      width: 100px;
    }
    .title {
      margin-inline-start: 1.2rem;
    }
  }
}
.content {
  margin-top: 2rem;
}
.category-active {
  background-color: orange;
  color: white;
}
