<div class="container">
  <div class="store-header">
    <div class="store-info d-flex w-100">
      <div class="image">
        <img src="{{store.image}}" alt="" width="100%">
      </div>
      <div class="info d-flex justify-content-between w-100">
        <div class="title">
          <h1>{{store.name}}</h1>
          <p>{{getServings()}}</p>
        </div>
        <div class="rating">
          <h1>
            {{store.rating}}
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button class="btn btn-light" style="margin: 1rem;" routerLink="/stores">Back</button>
    <button class="btn btn-primary" style="margin: 1rem;" (click)="addItem(content)">Add Item</button>
  </div>

  <div class="content d-flex w-100">
    <div class="side-menu">
      <div class="list-group">
        <a class="list-group-item list-group-item-action" (click)="onCategoryChange(category)"
          *ngFor="let category of store.categories"
          [ngClass]="{'category-active':category==activeCategory}">{{category.name}}</a>
      </div>
    </div>
    <div class="container items w-100">
      <h3 style="color: gray;">{{activeCategory.name}}</h3>
      <ng-container *ngFor="let item of activeCategory.items">
        <app-item-card [item]="item"></app-item-card>
      </ng-container>
    </div>
  </div>

</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Item</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" type="text" name="title" [(ngModel)]="item.title">
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input class="form-control" type="text" name="price" [(ngModel)]="item.price">
      </div>

      <div class="form-group">
        <label for="calories">Calories</label>
        <input class="form-control" type="text" name="calories" [(ngModel)]="item.calories">
      </div>

      <div class="form-group">
        <label for="image">image</label>
        <input class="form-control" type="file" name="image" [(ngModel)]="item.image">
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveItem()">Save</button>
  </div>
</ng-template>
